h1, h2 {
	text-align: center;
}

#input-form, #output {
	border: 2px solid #dee2e6;
	border-radius: 0.5rem;
}

#output {
	background-color: #f2f2f2;
	min-height: 30px;
	font-style: italic;
}

label[for=input] {
	width: 4%;
}
