/*
 * It might have to be
 * @import "tailwindcss/index"
 * as instructed https://tailwindcss.com/blog/tailwindcss-v4#simplified-installation
 * but it raises a SASS warning.
 */
@import 'tailwindcss/index.css';

h1, h2 {
	@apply text-center;
}

#input-form, #output {
	@apply border-2 border-gray-300 rounded-lg;
}

#output {
	@apply bg-gray-200 italic;
	min-height: 30px;
	overflow-wrap: anywhere;
	word-break: break-word;
}

label[for=input] {
	width: 4%;
}

#input-button-area button.input-button {
	display: inline-block;
	flex-grow: 0;
	margin: 2px;
}

#toast {
	display: flex;
	position: fixed;
	bottom: 1.5rem;
	left: 50%;
	z-index: 50;
	justify-content: center;
	width: max-content;
	max-width: calc(100vw - 2rem);
	transform: translateX(-50%);
	padding: .75rem 1rem;
	color: white;
	background-color: rgb(31 41 55 / 95%);
	border-radius: .75rem;
	box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
}

#toast-body {
	text-align: center;
	overflow-wrap: anywhere;
}

#toast.hidden {
	display: none;
}
