@import "tailwindcss/tailwind.css";
@import "daisyui/dist/full.css";

h1, h2 {
	@apply text-center;
}

#input-form, #output {
	@apply border-2 border-gray-300 rounded-lg;
}

#output {
	@apply bg-gray-200 italic;
	min-height: 30px;
}

label[for=input] {
	width: 4%;
}

#input-button-area button.input-button {
	display: inline-block;
	flex-grow: 0;
	margin: 2px;
}
