@import "tailwindcss";

#input:disabled {
	background-color: #cccccc;
}

#random-ipa:disabled {
	animation: roll-dice 1s linear infinite;
}

@keyframes roll-dice {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
