name: 'Release'
on:
  push:
    tags:
      - '**'
jobs:
  release:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v5'
      - name: 'Create Release'
        uses: 'softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe'
        with:
          generate_release_notes: true
